<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Student Grading System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>

    <div class="login-card">

        <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo" alt="Logo">

        <h2>Login</h2>

        {% if error %}
        <p class="msg-error">{{ error }}</p>
        {% endif %}

        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <label>Login:</label><br>
            <input type="text" name="identifier" placeholder="Enter your email or ID" required><br><br>

            <label>Password:</label><br>
            <input type="password" name="password" placeholder="Enter your password" required><br><br>

            <button type="submit">Login</button>
        </form>
    </div>

</body>

</html>